@keyframes drop {
    0% {
        transform: translateY(-18%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

body {
    margin: 0;
    background-image: url("/static/images/main2.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bree Serif', serif;

}

header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-image: linear-gradient(
        rgba(22, 21, 21, 1),
        rgba(22, 21, 21, 0.02));
    padding: 0 6rem;
    color: white;
}

h1 {
    font-size: 50px;
    color: rgb(0, 208, 255);
}

h2 {
    font-size: 70px;
    color: rgb(0, 208, 255);
}

h3 {
    font-size: 40px;
    color: white;
}

.container {
    margin: 10% 1rem;
}

.intro {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

}

.menu > li {
    list-style: none;
    position: relative;
    font-size: 20px;
}

.menu > li > ul {
    visibility: hidden;
    padding: 0;
    
}

.menu > li:hover > ul {
    visibility:visible;
    position: absolute;
    padding: 0;
    background: transparent;
    list-style: none;
    animation-name: drop;
    animation-duration: 0.7s;
    

    
}

a {
    color: white;
    text-decoration: none;
}