@media only screen  and (min-width: 651px) {

    @keyframes drop {
        0% {
            transform: translateY(-18%);
            opacity: 0;
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .menu > li > ul {
        visibility: hidden;
        padding: 0;
        
    }
    
    .menu > li:hover > ul {
        visibility:visible;
        position: absolute;
        padding: 0;
        background: transparent;
        list-style: none;
        animation-name: drop;
        animation-duration: 0.7s;
    }

}
@media only screen  and (max-width: 910px) {
    body > header {
        flex-direction: column;
        align-items: center;
    } 

}

@media only screen  and (max-width: 650px) {
    html > body {
        text-align: center;
    }

    header > nav > ul{
        display: flex;
        flex-wrap: wrap;
    }

    li > ul > li{
        list-style: none;
    }

    ul >li > ul{
        padding: 0%;
    }
}

body {
    margin: 0;
    background-image: url("/static/images/main2.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bree Serif', serif;

}

header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    background-image: linear-gradient(
        rgba(22, 21, 21, 1),
        rgba(22, 21, 21, 0.02));
    padding: 0 6rem;
    color: white;
}

h1 {
    font-size: 50px;
    color: rgb(0, 208, 255);
}

h2 {
    font-size: 70px;
    color: rgb(0, 208, 255);
}

h3 {
    font-size: 40px;
    color: white;
}

h4 {
    font-size: 20px;
    color: rgb(0, 208, 255);
}

label {
    color: white;
}

input {
    padding-left: 2px;
    border-radius: 10px;
    border-color: rgb(0, 208, 255);
    background-color: rgba(106, 105, 105, 0);
    color: white;
    border-width: 2px;
    border-style: solid;
    text-indent: 2px;
    font-family: 'Bree Serif', serif;
    line-height: 1.5;
}

select {
    appearance: none;
    padding: 1px 10px;
    border-radius: 9px;
    border-color: rgb(0, 208, 255);
    background-color: rgba(106, 105, 105, 0);
    color: white;
    border-width: 2px;
    border-style: solid;
    text-indent: 2px;
    font-family: 'Bree Serif', serif;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 10% 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(23, 23, 23, 0.872);
    padding:0 2rem 2.5rem 2rem;
    margin: 0 1rem 2rem 1rem;
    width: max-content;
    border-radius: 10px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(23, 23, 23, 0.872);
    padding:0 2rem 2.5rem 2rem;
    margin: 0 1rem 2rem 1rem;
    width: 180px;
    border-radius: 10px;
    color: white;
}

.intro {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

}

.submit {
    text-align: center;
}

.buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs, .big-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.client, .program {
    min-width: 100px;
    max-width: fit-content;
}

.submit > input {
    background-color:  rgb(0, 208, 255);
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
}

.submit > input:hover {
    background-color: rgb(7, 161, 196);
    cursor: pointer;
}

.content > h3 {
    color: rgb(0, 208, 255);
}

.menu > li {
    list-style: none;
    position: relative;
    font-size: 20px;
}

.page > form {
    margin: 5px 5px;
}

.buttons > form > input:hover {
    cursor: pointer;
}

.big-buttons > form > button {
    padding-left: 2px;
    border-radius: 10px;
    border-color: rgb(0, 208, 255);
    background-color: rgba(23, 23, 23, 0.872);
    color: white;
    border-width: 2px;
    border-style: solid;
    text-indent: 2px;
    font-family: 'Bree Serif', serif;
    line-height: 0;
    margin: 0 5px;
}

.big-buttons > form > button:hover {
    cursor: pointer;
}