{% extends "base.html" %}
{% block content %}

<div class="content">
    <h3>Create a new Program:</h3>
    <div class="form">
        <form action="/programs" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">
            </div>
            {% for exercise in exercises %}
            <div>
                <input type="checkbox" name="exercises_id" value="{{ exercise.id }}">
                {% if exercise.duration%}
                <label for="exercises_id">{{ exercise.name }} {{exercise.duration}} mins</label>
                {% else %}
                <label for="exercises_id">{{ exercise.name }}</label>
                {% endif %}
            </div>
            {% endfor %}
            <div class="submit">
                <input type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
